튜플 만들기  
튜플은 리스트와 비슷하지만 리스트는 []로 둘러싸고 튜플은 ()로 둘러싼다는 것과 리스는 데이터의 수정, 삭제가 가능하지만 튜플은 수정, 삭제가 불가능하다.

In [3]:
# 빈 튜플 만들기
a = ()
print(a)
print(type(a))
# 생성자를 이용해 빈 튜플 만들기
b = tuple()
print(b)
print(type(b))

()
<class 'tuple'>
()
<class 'tuple'>

In [6]:
c = [1]
print(c)
print(type(c))
d = (1) # 일반적인 연산식에 사용하는 ()로 인식해서 상수를 기억하는 변수가 된다.
print(d)
print(type(d))
e = (1,) # 1개의 데이터만 가지는 튜플을 만들어야 한다면 반드시 데이텨 뒤에 ','를 찍어야 한다.
print(e)
print(type(e))

[1]
<class 'list'>
1
<class 'int'>
(1,)
<class 'tuple'>

In [12]:
f = (1, 2)
print(f)
print(type(f))
g = (1, 2, 3)
print(g)
print(type(g))
h = ('a', 'b', ('ab', 'cd'))
print(h)
print(type(h))
i = ['a', 'b', ('ab', 'cd')]
print(i)
print(type(i))
j = ('a', 'b', ['ab', 'cd'])
print(j)
print(type(j))

(1, 2)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
('a', 'b', ('ab', 'cd'))
<class 'tuple'>
['a', 'b', ('ab', 'cd')]
<class 'list'>
('a', 'b', ['ab', 'cd'])
<class 'tuple'>

In [14]:
# 튜플은 ()를 생략해도 변수에 데이터를 ','로 구분해서 여러개를 넣어주면 튜플로 인식한다.
k = 1, 2, 3, 4, 5, 6
print(k)
print(type(k))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [23]:
# 튜플은 리스트와 같이 인덱싱과 슬라이싱이 가능하다.
l = 1, 2, 3, 4, 5, 6
print(l)
print(l[0])
print(l[-1])
print(l[2:4])
print(l[:4])
print(l[2:])
# 튜플은 리스트와 같이 '+', '*' 연산이 가능하다.
m = 'a', 'b'
print(m)
print(m + l)
print(m * 3)

(1, 2, 3, 4, 5, 6)
1
6
(3, 4)
(1, 2, 3, 4)
(3, 4, 5, 6)
('a', 'b')
('a', 'b', 1, 2, 3, 4, 5, 6)
('a', 'b', 'a', 'b', 'a', 'b')

In [28]:
# 튜플은 리스트와 달리 수정과 삭제를 할 수 없다.
n = 1, 2, 3, 4, 5, 6
print(n)
# n[0] = 'z' # 튜플에 저장된 데이터를 수정하려 했으므로 에러가 발생된다.
# del n[0]   # 튜플에 저장된 데이터를 삭제하려 했으므로 에러가 발생된다.
del n        # del 명령으로 튜플 전체를 삭제하는 것은 가능하다.
print(n)

(1, 2, 3, 4, 5, 6)

NameError: name 'n' is not defined

In [29]:
o = 3
p = 4
print('o = {}, p = {}'.format(o, p))

print('o = {}, p = {}'.format(o, p))

o = 3, p = 4